<%- include('./layout/header')  %>
<%- include('./layout/navbar')  %>
<h2 class="text-center mt-2">
    Utilisteurs
    <% if (typeof id != 'undefined') {
    departements.forEach(title => { %>
     <% if (title.id == id) { %>
        De Departement :
       <strong><%= title.nomDepartement %> </strong>
     <% }}) } %>
</h2>
<table class="table table-success table-striped container mt-2">
    <thead>
      <tr>
        <th >Nom</th>
        <th >E-mail</th>
        <th >Date</th>
        <th >Action</th>
      </tr>
    </thead>
    <tbody>
        <% if (data){%> 
       <% data.forEach(item => { %> 
      <tr>
        <td ><%= item.nomComplet %> </td>
        <td><%= item.email %> </td>
        <td><%= item.createdAt.toISOString().substring(0, 10) %> </td>
        <td><a data-toggle="modal" data-target="#update-utilisateur<%= item.id %> " class="text-info"><i class="fas fa-edit"></i></a> <a href="/delete_utilisateur/<%= item.id %> " class="text-danger delete"> <i class="far fa-trash-alt"></i></a></td>
      </tr>
      <div class="modal fade" id="update-utilisateur<%= item.id %>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
           <h3 class="modal-title" id="staticBackdropLabel">Modifier Utilisateur</h3>
           <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
           <i class="fas fa-times"></i>
           </button>
         </div>
         <div class="modal-body">
        <form method="POST" action="/update_utilisateur/<%= item.id %>" >
         <div class="card p-3 radius m-auto  " >
         <div class="card-body">
             <div class="form-group mt-2">
               <label for="">Nom :</label>
               <input type="text" value="<%= item.nomComplet %>" class="form-control" name="nom" required>
             </div>
             <div class="form-group mt-2">
               <label for="">E-mail :</label>
               <input type="email" value="<%= item.email %>" class="form-control" name="email"  required >
             </div>
             <div class="form-group mt-2 ">
               <label for="">Mot de passe :</label>
               <input type="password" value="<%= item.password %>" class="form-control col-lg-5 d-inline" name="password"  required >
             </div>
             <div class="form-group mt-2"> 
            <label for="">Departement :</label> 
            <select name="departement" class="form-select col-lg-5 d-inline" > 
                <option value="<%= item.idDepartement %>">Change le departement</option> 
                <% if (typeof departements != "undefined") { %>
                    <% departements.forEach(element => { %>
                       <option value="<%= element.id %> "><%= element.nomDepartement %></option>
                    <% })} %>
             </select>
             </div>
              <button type="submit" name="ajouter" class="btn mt-3 form-control btn-info btn-block">Modifier</button>
             </div>
           </div>
        </form>
        </div>
        </div>
        </div>
        </div>
  <%  })} %> 
    </tbody>
  </table>


<%- include('./layout/footer')  %>